<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <table class="table table-bordered table-striped-columns">
                <thead>
                  <tr>
                    <th scope="col">API</th>
                    <th scope="col">Description</th>
                    <th scope="col">Auth</th>
                    <th scope="col">HTTPS</th>
                    <th scope="col">Cors</th>
                    <th scope="col">Link</th>
                    <th scope="col">Category</th>
                    
                  </tr>
                </thead>
                <tbody class="table-group-divider">
                  
                    <tr *ngFor="let i of apidata.entries">
                    <td>{{i.API}}</td>
                    <td>{{i.Description}}</td>
                    <td>{{i.Auth}}</td>
                    <td>{{i.Cors}}</td>
                    <td>{{i.HTTPS}}</td>
                    <td><a target="blank" href="{{i.Link}}">Click Here For More</a></td>
                    <td>{{i.Category}}</td>
                    


                    
                      
                  </tr>
                </tbody>
              </table>
            






        </div>
    </div>
</div>